<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>CS3205 Subsystem 3</display-name>
	<description>CS3205 Subsystem 3 application server</description>

	<filter>
		<filter-name>Subsystem3 RESTful API</filter-name>
		<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>sg.edu.nus.cs3205.subsystem3</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.servlet.filter.forwardOn404</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Subsystem3 RESTful API</filter-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Configure the resource at context.xml level -->
	<resource-ref>
		<res-ref-name>jdbc/TestDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>
